header.header

	.container

		h2.headline.headline_primary.text-center Ты&nbsp;готов стать профессионалом?

		.welcome.text-center
			p.welcome__text Мы&nbsp;ищем <a href="#">талантов</a> и&nbsp;<a href="#">саппортов</a> в&nbsp;команду. Решите на&nbsp;какую категорию вы&nbsp;претендуете.

		.text-center
			a.button.button_gray.button_icon.button_icon-plus(data-scroll, href="#sectionFeedback")
				span Заполнить анкету
