extends ../layout

block content

	include ../../sections/header/layout.pug
	main.main
		include ../../sections/about/layout.pug
		include ../../sections/similar/layout.pug
		include ../../sections/benefits/layout.pug
		include ../../sections/feedback/layout.pug
